includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    paths:
        - %currentWorkingDirectory%/app/
    autoload_files:
        - %currentWorkingDirectory%/bin/bootstrap.php
    autoload_directories:
        - %currentWorkingDirectory%/vendor/swoft/swoole-ide-helper/output/namespace/
        - %currentWorkingDirectory%/vendor/swoft/
    dynamicConstantNames:
        - APP_DEBUG
        - SWOFT_DEBUG
    excludes_analyse:
        - test/*
        - runtime/*
        - resource/*
    ignoreErrors:
        # Variable type
        - '#^Call to an undefined method Swoft\\Contract\\ContextInterface::get\S+\(\)\.$#'
        - '#^Call to an undefined method Swoft\\Contract\\SessionInterface::\S+\(\)#'
        # - '#^Call to an undefined method Swoft\\Session\\SessionInterface::getFd\(\)#'
        - '#^Call to an undefined method Swoft\\Server\\Server::push\(\)\.$#'
        # - '#^Call to an undefined method Swoft\\Server\\Server::disconnect\(\)\.$#'
        - '#^Call to an undefined method\sPsr\\Http\\Message\\ServerRequestInterface::getUriPath\(\)#'
        - '#.+onstant APP_DEBUG not found.#'
        # - '#^Function view not found.#'
        # - '#^Call to static method \w+\(\) on an unknown class Swoft\\Cache\\Cache.#'
        # These are ignored for now
        -
            path: %currentWorkingDirectory%/app/Http/Controller/DbModelController.php
            message: '#^Method App\\Http\\Controller\\DbModelController::getId\(\) should return int but returns int\|null\.$#'
        -
            path: %currentWorkingDirectory%/app/Http/Controller/DbModelController.php
            message: '#^Argument of an invalid type App\\Model\\Entity\\User supplied for foreach, only iterables are supported\.$#'
        -
            path: %currentWorkingDirectory%/app/Http/Controller/DbTransactionController.php
            message: '#^Method App\\Http\\Controller\\DbTransactionController::getId\(\) should return int but returns int\|null\.$#'
        -
            path: %currentWorkingDirectory%/app/Http/Controller/RpcController.php
            message: '#^Unreachable statement - code above always terminates\.$#'
        -
            path: %currentWorkingDirectory%/app/Http/Controller/SelectDbController.php
            message: '#^Method App\\Http\\Controller\\SelectDbController::getId\(\) should return int but returns int\|null\.$#'
        -
            path: %currentWorkingDirectory%/app/Http/Controller/ValidatorController.php
            message: '#^Method App\\Http\\Controller\\ValidatorController::(validateAll|validateType|validatePassword|validateCustomer)\(\) should return array but returns array\|object\|null\.$#'
        -
            path: %currentWorkingDirectory%/app/Task/Task/SyncTask.php
            message: '#^Method App\\Task\\Task\\SyncTask::testNull\(\) should return bool but returns null\.$#'
        -
            path: %currentWorkingDirectory%/app/Validator/Rule/AlphaDashRule.php
            message: '#^Call to an undefined method object::getMessage\(\)\.$#'

